.venv
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db